html {
  scroll-behavior: smooth;
}
.scrollup {
  position: fixed;
  right: 2rem;
  bottom: 3rem;
  background-color: var(--title-color);
  opacity: 0.8;
  padding: 0.5rem;
  border-radius: 0.4rem;
  z-index: var(--z-tooltip);
  transition: 0.4s;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
}
.scrollup-text {
  color: var(--container-color);
  margin-left: 5px;
}

.scrollup__icon {
  font-size: 1.5rem;
  color: var(--container-color);
}

.scrollup:hover {
  background-color: var(--title-color-dark);
}

@media screen and (max-width: 576px) {
  .scrollup-text {
    display: none;
  }
  .scrollup {
    right: 1rem;
  }
}
